*.pyc
.idea/*
*.xml
*.o
*.dSYM
*.pgm
*.out
*.png
*.jpg
*.JPG
*.pyc
*.mp4
*.mov
static/

*.pid
*.sqlite3
*.db
*.log
*.sup
*.bak
*.tmproj
.tmp
.sass-cache
.projectile
.pylintrc
.ropeproject/
.mypy_cache

dump.rdb
.project
.installed.cfg
bin/
develop-eggs/
Guone.egg-info/
parts/
eggs/
gen-py/
log/

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

